<header background>
  <nav>
    <a href="#"><span>SIMPLY</span> CHOCOLATE</a>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">How it’s made?</a></li>
      <li><a href="#">Our products</a></li>
      <li><a href="#">Top sellers</a></li>
      <li><a href="#">Chocolate is loved</a></li>
    </ul>
    <ul>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer nofollow">
          <svg width="22" height="22">
            <use href="../img/icon/instagram.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer nofollow">
          <svg></svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
